* {
  font-family: "Roboto", sans-serif;
  color: #4b4e6d;
  /* border: solid #4b4e6d 2px; */
}

body {
  background-color: #f3e8ee;
  margin: 2em 10em 2em 10em;
}

body {
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#title {
  font-size: 100px;
}
h1 {
  margin: 0;
}

#container {
  display: flex;
  border: solid #4b4e6d 5px;
  border-radius: 12px;
  flex-wrap: wrap;
  padding: 5px;
  min-width: 500px;
  max-width: 500px;
  max-height: 500px;
  min-height: 500px;
}
#content {
  display: flex;
  align-items: center;
  /* border: #4b4e6d solid; */
}
button {
  border-radius: 12px;
  border: #4b4e6d solid;
  background-color: #f3e8ee;
  padding: 8px;
  font-size: 24px;
  height: fit-content;
  margin-right: 64px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
